  /* Universal */
body {
  background-color: black;
  display: block;
  color: seashell;
  font-size: 22px;
  text-align: center;
  font-family: "helvetica", sans-serif;
}

a {
  color: white;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div {
  display: block;
}

  /* Header */

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header {
  background-color: black;
  display: flex;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 80px;
  z-index: 1;
}

header nav {
  padding-right: 30px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: 125px;
  height: 50px;
  margin-right: 12px;
}

  /* Main Content */

.main {
  padding-top: 70px;
  opacity: 0.9;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  padding-top: 70px;
  background-image: url(img-mission-background.jpg);
}

#mission .content{
  background-color: black;
  width: 100%;
  margin: auto;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  display: block;
  margin: 10px;
}

.item span{
  font-weight: bold;
}

#locations {
  background-image: url(img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

#locations .flex-container {
  margin: auto;
  width: 1000px;
}

.location {
  background-color: black;
  padding: 10px;
  margin: 5px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 200px;


}

    /* Contact */

#contact {
  height: 200px;
}

    /* Footer */

footer {
  text-align: left;
  display: block;
  padding-left: 20px;
  font-weight: bold;
}
